body .listbox .list > li.active > a,
body .listbox .list > li > a.active,
body .item-box input[type="button"],
body .item-box .buynow-button,
body .header-menu > ul > li:hover > a,
body .header-menu > ul > li:hover > span,
body .header-menu .sublist li:hover > a,
body .listbox .sublist a:hover,
body .nop-jcarousel .item-info .button {
  background: #3e5da6;
  border: 1px solid #3150A0;
  color: #fff;
  cursor: pointer;
  border-radius: 5px; }
  body .listbox .list > li.active > a:hover,
  body .listbox .list > li > a.active:hover,
  body .item-box input[type="button"]:hover,
  body .item-box .buynow-button:hover,
  body .header-menu > ul > li:hover > a:hover,
  body .header-menu > ul > li:hover > span:hover,
  body .header-menu .sublist li:hover > a:hover,
  body .listbox .sublist a:hover:hover,
  body .nop-jcarousel .item-info .button:hover {
    background: #3e5da6;
    opacity: 0.8; }

body .footer-block h3:after {
  background: #3150A0; }

body .master-wrapper-page .master-wrapper-content .header-menu {
  background: rgba(208, 209, 232, 0.5); }
  body .master-wrapper-page .master-wrapper-content .header-menu ul li {
    margin: 5px; }

body .master-wrapper-page .master-wrapper-content .master-column-wrapper .item-box {
  background: none;
  background-color: rgba(208, 209, 232, 0.5); }

body .master-wrapper-page .master-wrapper-content .footer {
  background: rgba(208, 209, 232, 0.5); }
  body .master-wrapper-page .master-wrapper-content .footer h3, body .master-wrapper-page .master-wrapper-content .footer li, body .master-wrapper-page .master-wrapper-content .footer a {
    color: #3e5da6; }

