/Libraries/Nop.Core/obj
/Libraries/Nop.Core/bin
/Libraries/Nop.Data/obj
/Libraries/Nop.Data/bin
/Libraries/Nop.Services/obj
/Libraries/Nop.Services/bin
/packages
/Presentation/Nop.Web/obj
/Presentation/Nop.Web/bin
/Presentation/Nop.Web.Framework/obj
/Presentation/Nop.Web.Framework/bin
/Tests/Nop.Core.Tests/obj
/Tests/Nop.Core.Tests/bin
/Tests/Nop.Data.Tests/obj
/Tests/Nop.Data.Tests/bin
/Tests/Nop.Services.Tests/obj
/Tests/Nop.Services.Tests/bin
/Tests/Nop.Tests/obj
/Tests/Nop.Tests/bin
/Tests/Nop.Web.MVC.Tests/obj
/Tests/Nop.Web.MVC.Tests/bin
/Presentation/Nop.Web/Administration/Bin
