/*=====================================================
    
    TABLETS LANDSCAPE & NETBOOKS

=====================================================*/

@media all and (max-width: 980px) and (min-width: 769px) {

.data-table a {
	display: inline-block;
}
select {
	height: 32px;
	border-radius: 0;
	padding: 6px;
}
textarea {
	padding: 5px !important;
}

.flyout-cart {
	display: none !important;
}
.master-column-wrapper {
	width: 95%;
	margin: auto;
}
.center {
	width: auto !important;
}
.center-2,
.side-2 {
	float: none;
	width: auto;
	margin-bottom: 20px;
}

.inputs {
	position: relative;
	text-align: center;
}
.inputs .message-error,
.inputs .field-validation-error,
.inputs .username-not-available-status,
.inputs .password-error {
	display: block;
}
.inputs label {
	margin: 0 0 5px;
	width: 100%;
	text-align: center;
}
.fieldset .title,
.section .title {
	text-align: center;
}

/* BAR NOTIFICATION */
   
.bar-notification {
	height: 37px;
	line-height: 37px;
}
.bar-notification .close {
	width: 32px;
	height: 32px;
	margin: 2px 5px;
}
.bar-notification a {
	display: inline-block;
	line-height: 32px;
}

/* HEADER */

.admin-header-links {
	left: 0;
	margin: 0;
	width: 100%;
}
.header {
	text-align: center;
}
.header-links-wrapper {
	float: none;
	text-align: center;
}
.header-links li {
	margin: 0 8px !important;
}
.header-logo {
	position: static;
	float: none;
	margin-bottom: 20px;
}
.header-selectors-wrapper {
	display: inline-block;
	float: none;
	margin:0;
}
.header-selectors-wrapper > div {
	float: left;
	margin: 0 5px;
}
.new_select {
	height: 30px;
	text-align: left;
}
.new_select > span {
	padding: 0 34px 0 8px;
	height: 30px;
	background: url('../img/custom-selector.png') no-repeat 94% 4px;
	text-align: left;
	line-height: 31px;
}
.styleSelect_item {
	top: 28px !important;
}
.styleSelect_item li span {
	line-height: 28px;
}

.language-list {
	text-align: right;
}
.language-list a {
	width: 32px;
	height: 32px;
}

.search-box {
	display:inline-block;
	float: none;
	clear: none;
	margin: 0 5px;
}
.search-box input.search-box-text {
	width: 300px !important;
}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
	width: 298px !important;
}

/* HEADER MENU */

.header-menu {
	margin: 0 auto 20px;
	width: 70%;
}
.with_slider .header-menu {
	margin-bottom: 20px;
}
.header-menu > ul {
	display: none;
	padding: 0;
	width: 100%;
	border: 1px dotted #ccc;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.header-menu .menu-title {
	display: block;
	background: #eee;
	box-shadow: inset 0 1px 0 #fff;
}
.header-menu .menu-title span {
	display: block !important;
	overflow: hidden;
	padding: 0 15px;
	background: url('../img/responsive-nav-icon.png') no-repeat 97% center;
	color: #111;
	text-transform: uppercase;
	font-size: 200%;
	line-height: 47px;
	cursor: pointer;
}
.header-menu ul > li {
	position: relative;
	float: none;
	border-top: 1px dotted #ccc;
}
.header-menu ul > li > a,
.header-menu ul > li > span {
    padding: 0;
	height: auto;
	border: 0;
	text-align: left;
	font-size: 16px;
	line-height: 45px;
	display: block;
}
.header-menu > ul .plus-button {
	position: absolute;
	top: 0;
	right: 0;
	border-left: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 46px;
	height: 46px;
	background: url('../img/responsive-plus.png') no-repeat center;
	cursor: pointer;
	-webkit-transition: background .1s ease-in-out;
	-moz-transition: background .1s ease-in-out;
	-o-transition: background .1s ease-in-out;
	transition: background .1s ease-in-out;
}
.header-menu > ul .plus-button.close {
	background: url('../img/responsive-minus.png') no-repeat center;
}

.header-menu .sublist-wrap {
	position: relative;
	border: none;
	padding: 0;
	box-shadow: none;
	background: #f6f6f6;
}
.header-menu .sublist li a {
	padding: 0;
	font-size: 15px;
}
.header-menu .sublist-wrap .sublist-wrap {
	left: 0;
	top: 0;
	background: #fff;
}

.dropdown {
	display: none;
}

/* FOOTER */

.footer-upper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 2%;
}
.footer-block {
	margin: 0 0 2% 4%;
	width: 48%;
}
.footer-block:nth-child(2n+1) {
	clear: both;
	margin-left: 0;
}
.footer-block li a {
	display: block;
	padding: 0 0 0 10px;
	line-height: 32px;
}
.footer-block-first li {
	padding: 0 0 0 32px;
	line-height: 32px;
}
.accepted-payment-methods li {
	display: inline-block;
	float: none;
	margin-left: 8px;
}
.subscribe-to-newsletter {
	width: 212px;
}
.newsletter-email input[type="text"] {
	width: 180px;
}
.social-sharing li {
	display: inline-block;
	float: none;
	margin-left: 8px;
}
.bottom {
	padding: 5px 15px;
}
.footer-store-theme {
	width: 200px;
}
.footer-store-theme select {
	width: 140px;  
}

/* SIDEBAR */

.side-2 {
	margin-bottom: 50px;
}
.side-2:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
.block {
	float: left;
	width: 32%;
	margin: 0 0 2% 2%;
}
.block:nth-of-type(3n+1) {
	clear: both;
	margin-left: 0;
}
.block .title {
    display: block;
	margin-bottom: 1px; /*override*/
    padding: 5px 10px;
	font-size: 28px;
	cursor: pointer;
}
.listbox .list > li > a {
	padding: 10px;
	font-size: 13px;
}
.listbox .sublist {
	padding-left: 20px;
}
.listbox .sublist a {
	padding: 10px 5px;
}
.listbox .tags{
	padding: 5px 0 0;
}
.listbox .tags li {
	margin: 0;
}
.listbox .tags a {
	padding: 0 12px;
}
.listbox .view-all a {
	display: inline-block;
	padding: 0 12px;
	line-height: 32px;
}
.poll .buttons input {
	padding: 0 12px;
	line-height: 32px;
}

/* CATEGORY PAGE & PRODUCT GRIDS */

.breadcrumb li * {
	display: inline-block;
	line-height: 32px;
}
.breadcrumb li a,
.breadcrumb li strong {
	padding: 0 4px;
}

.product-viewmode {
	display: none;
}

.product-selectors > div {
	margin-right: 0;
	width: 50%;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.item-box { /* !important because to override :nth styles */
	clear: none !important;
	width: 32% !important;
	margin: 60px 0 95px 2% !important;
}
.item-box:nth-child(3n+1) {
	clear: both !important;
	margin-left: 0 !important;
}
.item-box .title {
	position: static;
	background: #fff;
	text-align: center;
}
.item-box .title a {
	line-height: 2.4;
}
.item-box .product-item {
	overflow: visible;
}
.item-box .details,
.product-item:hover .details {
	top: auto;
	bottom: -71px;
	left: -10px !important;
	padding: 0 10px 10px;
	width: 100% !important;
	height: auto !important;
	background: #e6e6e6 url('../img/transparent-pattern.png') repeat;
	opacity: 1;
}
.item-box .details > * {
	background: #f6f6f6;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.item-box .description {
	display: none;
	overflow: hidden;
	padding: 10px 10px 0;
	height: 30px;
	line-height: 1.3;
}
.item-box .description a {
	height: auto;
	text-align: justify;
}
.item-box .add-info {
	position: static;
	overflow: hidden;
	padding: 10px;
	width: auto;
	height: 40px;
}
.item-box .prices,
.item-box .buttons {
	padding: 0;
	text-align: center;
	display: inline-block;
}
.item-box .old-price {
	display: block;
	margin: 0;
	font-size: 11px;
	line-height: 18px;
}
.item-box .actual-price {
	color: #333;
	line-height: 40px;
}
.item-box .old-price + .actual-price {
	line-height: 24px;
}
.item-box .tax-shipping-info,
.item-box .base-price-pangv {
	display: none;
}
.item-box .buttons,
.item-box input[type="button"], 
.item-box .buynow-button {
	float: right;
}
.item-box input[type="button"],
.item-box .buynow-button,
.item-box input[type="button"]:hover,
.item-box .buynow-button:hover {
	padding: 0;
	width: 70px;
	height: 40px;
	border: 1px solid #503;
	background: #836 url('../img/responsive-buy.png') no-repeat center;
	text-indent: -9999px;
}

.home-page .product-grid {
	margin-bottom: 0;
}
.home-page-category-grid .item-box,
.sub-category-grid .item-box,
.manufacturer-grid .item-box,
.vendor-grid .item-box {
	margin: 0 0 2% 2% !important;
}
.home-page-category-grid .item-box:nth-child(3n+1),
.sub-category-grid .item-box:nth-child(3n+1),
.manufacturer-grid .item-box:nth-child(3n+1),
.vendor-grid .item-box:nth-child(3n+1) {
	margin-left: 0 !important;
}
.home-page-category-grid .item-box:before,
.sub-category-grid .item-box:before,
.manufacturer-grid .item-box:before,
.vendor-grid .item-box:before {
	display: none;
}
.category-item,
.sub-category-item,
.manufacturer-item,
.vendor-item {
	position: static !important;
}
.category-item .picture,
.sub-category-item .picture,
.manufacturer-item .picture,
.vendor-item .picture {
	display: none;
}
.sub-category-grid {
	margin-bottom: 20px;
}

.pager li * {
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.pager li.previous-page *,
.pager li.next-page *,
.pager li.first-page *,
.pager li.last-page * {
	background-position: center 3px;
}
.pager li *:hover, .pager li span {
	background-position: center -21px;
}

/* PRODUCT PAGE */

.gallery {
	float: none;
	margin: 0 0 20px;
	width: 100%;
}
.gallery .picture {
	margin: 0 auto;
}
.gallery .picture-thumbs {
	text-align: center;
}
.gallery .picture-thumbs a,
.gallery .picture-thumbs a:nth-child(3n+1) {
	display: inline-block;
	float: none;
	margin: 12px 6px 0;
}
.product-details-page .overview {
	float: none;
	width: auto;
	padding: 0 20px;
}
.overview .buttons input, 
.variant-overview .add-to-wishlist-button, 
.back-in-stock-subscription .subscribe-button, 
.download-sample a {
	padding: 7px 12px;
}
.overview .manufacturers a,
.product-review-links > *,
.product-tags-list .tag > * {
	display: inline-block;
	line-height: 32px;
}
.product-no-reviews, .product-reviews-overview {
	margin-bottom: 10px;
}
.overview .qty-label, .variant-overview .qty-label {
	line-height: 42px;
}
.overview .qty-input, 
.variant-overview .qty-input {
	height: 42px;
}
.overview .add-to-cart-button,
.variant-overview .add-to-cart-button {
	height: 42px;
}
.product-tags-list li.separator,
.tags li.separator {
	line-height: 32px;
}
.product-details-page .item-box .description {
	display: none;
}

.attributes li {
	margin: 0;
}
.attributes label {
	line-height: 22px;
}
.attributes input + label {
	display: inline-block;
	line-height: 32px;
}

.color-squares li {
	margin-right: 10px;
}
.color-squares li:last-child {
	margin-right: 0;
}
.color-squares label {
	line-height: 28px;
}
.color-squares .color {
	width: 28px;
	height: 28px;
}

.attributes.rental-attributes input[type="text"]{
    padding: 6px;
}

.giftcard {
	text-align: center;
}
.giftcard div {
	float: none;
}
.giftcard label {
	display: block;
	float: none;
	margin-left: 0;
	width: 100%;
}
.giftcard label:before {
	display: none;
}
.giftcard input {
	max-width: 316px;
	width: 100%;
}

/* REVIEW PAGE */

.write-review .inputs label {
	line-height: normal !important;
}
.ui-tabs .inputs label,
.ui-tabs .review-rating label {
	display: block;
	width: auto;
}
.write-review .button-1 {
	padding: 8px 24px;
}
.write-review .review-rating {
	text-align: center;
}
.write-review .review-rating label {
	display: block;
	margin: 0 0 5px;
	width: auto;
	text-align: center;
}
.product-review-helpfulness .vote {
	padding: 0 5px;
	display: inline-block;
	line-height: 32px;
}

/* WISHLIST & COMPARE LIST
+ EMAILaFRIEND & CONTACT */

.wishlist-content .button-2,
.compare-products-table .button-2 {
	padding: 7px 14px;
}
.wishlist-page .share-info a {
	line-height: 32px;
}
.contact-page .button-1,
.email-a-friend-page .button-1 {
	padding: 8px 24px;
}

/* SEARCH & TOPICS */

.search-input .inputs label {
	margin: 0 0 5px;
	width: 100%;
	text-align: center;
}
.search-input .inputs.reversed label {
	display: inline-block;
	line-height: 32px;
	margin: 0;
}
.search-input .button-1 {
	padding: 8px 24px;
}

.topic-password {
	text-align: center;
}

/* REGISTER, LOGIN, ACCOUNT */

.registration-page .inputs label,
.login-page .inputs label,
.password-recovery-page .inputs label {
	width: 100%;
}
.registration-page #check-availability-button {
	display: block;
	margin: 10px auto 0;
}
.login-page .inputs.reversed label,
.login-page .inputs.reversed a {
	display: inline-block;
	padding: 0 8px;
	background: rgba(255,255,255,0.8);
	line-height: 32px;
	margin: 0;
}
#check-availability-button {
	display: block;
	margin: 10px auto 0;
}
#username-availabilty {
	bottom: -17px;
	left: 50%;
	margin-left: -44px;
	font-size: 11px;
}
.registration-page .button-1, .login-page .button-1,
.registration-result-page .button-1,
.password-recovery-page .button-1,
.account-page .button-1, .account-page .button-2,
.return-request-page .button-1 {
	padding: 8px 24px;
}
.address-list-page .buttons input,
.order-list-page .buttons input {
	padding: 8px 16px;
}

/* SHOPPING CART PAGE */

.order-progress li {
	width: 16%;
}
.cart-footer .cart-collaterals {
	width: 64%;
}
.cart-footer .cart-collaterals > div {
	min-height: 0;
}
.shopping-cart-page .button-2, 
.checkout-page .button-2, 
.order-details-page .page-title a {
	padding: 7px 12px;
}
/*.shopping-cart-page .button-1,
.checkout-page .button-1,
.order-details-page .button-1,
.button-2.order-completed-continue-button {
	padding: 8px 36px;
}
.order-details-page .actions .button-2 {
	padding: 9px 15px;
}*/
.cart-footer .totals {
	width: 250px;
}
.cart-footer .deals {
	float: none;
	margin-bottom: 50px;
	width: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.cart-footer .deals > div {
	float: left;
	width: 49%;
	margin: 0 0 0 2% !important;
}
.cart-footer .deals > div:nth-child(2n+1) {
	margin-left: 0 !important;
}
.cart-footer .deals input[type="text"] {
	padding: 7px 5px;
	width: 100%;
}
.cart-footer .deals .button-2 {
	float: right;
	margin: 10px 0 0;
}
.cart-footer .shipping {
	float: none;
	width: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.shipping-options .inputs {
	float: left;
	width: 32%;
	margin: 0 0 2% 2%;
}
.shipping-options .inputs:nth-child(3n+1) {
	margin-left: 0;
}
.shipping-options .inputs:last-child {
	float: none;
	margin: 10px 0;
	clear: both;
	width: 100%;
}
.cart-footer .shipping .inputs [type=text],
.cart-footer .shipping .inputs select {
	width: 100% !important;
}
.cart-footer .shipping .inputs .required {
	position: absolute;
	right: -7px;
	top: 15px;
}
.shipping-options .inputs,
.cart-footer .shipping .inputs label {
	text-align: left;
}
.cart-footer .shipping .button-2 {
	margin: 0
}
.shopping-cart-page .addon-buttons {
	/*margin: -165px 0 0;*/
	width: 230px;
}

/* CHECKOUT PAGE */

.checkout-page .address-grid {
	padding: 10px 10px 0;
	font-size: 0;
}
.checkout-page .address-item, 
.checkout-page .address-item:nth-child(4n+1)/*margin override*/ {
	display: inline-block;
	float: none;
	margin: 0 0 10px 1.1%;
	padding: 10px;
	width: 32.6%;
	border: 1px dotted #ddd;
	text-align: center;
	font-size: 12px;
}
.checkout-page .address-item:nth-child(3n+1) {
	margin-left: 0;
}
.checkout-page .address-item input[type="button"] {
	padding: 8px 16px;
	font-size: 13px;
}
.checkout-page .edit-address .inputs,
.checkout-page .edit-address span {
	text-align: left;
}
.checkout-page .edit-address label {
	text-align: right;
	margin-right: 10px;
}
.shipping-method .method-list li label,
.payment-method .method-list li label {
	display: inline-block;
	line-height: 32px;
}
.order-details-page .page-title h1 {
	line-height: 33px;
}

/* FORUMS & PROFILE */

.forum-search-box {
	float: right !important;
}
.forum-search-page .forum-search-text {
	width: 380px !important;
}
.forum-search-page .advanced-search .inputs label {
	display: block;
	width: auto;
}
.forum-edit-page .inputs label,
.private-message-send-page .inputs label{
    width: 100%;
}
.forum-edit-page .inputs.reversed{
    margin: 10px 0;
}
.move-topic-page .inputs {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.forum-edit-page .toolbar,
.private-message-send-page .toolbar,
.forum-edit-page textarea,
.private-message-send-page textarea {
	margin-left: 0;
}

/* BLOG & NEWS */

.blog-page .tags,
.blogpost-page .tags {
	padding: 8px 8px 0;
}
.blog-page .tags a,
.blogpost-page .tags a {
	margin-bottom: 8px;
	padding: 8px;
}
.blog-page .tags label,
.blogpost-page .tags label {
	padding: 9px 5px;
}
.news-items .read-more {
	padding: 8px 14px; 
}
.news-item-page .button-1,
.new-comment .button-1 {
	padding: 8px 24px;
}

}